.header {
  text-align: center;
  padding: 20px;
  background-color: rgba(0, 89, 255, 0.85);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  width: 35%;
  max-width: 400px;
  box-sizing: border-box;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  overflow: hidden;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  border: 1px solid rgba(255, 255, 255, 0.1);
  box-shadow: 0 4px 16px 0 rgba(0, 89, 255, 0.15);
}

.logo {
  height: 40px;
  width: auto;
  position: relative;
  z-index: 1;
  filter: brightness(0) opacity(0.7);
}

